.all-bg-blue-main {
  background-color: blue;
}
.all-bg-blue-1 {
  background-color: #0000e6;
}
.all-bg-blue-2 {
  background-color: #0000cc;
}
.all-bg-blue-3 {
  background-color: #0000b3;
}
.all-bg-blue-4 {
  background-color: #000099;
}
.all-bg-blue-5 {
  background-color: #1a1aff;
}
.all-bg-blue-6 {
  background-color: #3333ff;
}
.all-bg-blue-7 {
  background-color: #4d4dff;
}
.all-bg-blue-8 {
  background-color: #6666ff;
}
